@import 'resources/variables';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Bungee&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: $grey;
}

.header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    
}

.avatar{
    position: relative;
    width: 100%;
    height: 120px;
    
    .avatar-image{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        transition: opacity 1s ease-in-out;
        position: absolute;
        left: 50%;
        box-shadow: 
            0px 0px 2px 4px $grey,
            0px 0px 6px 6px $green;
        transform: translateX(-50%);
        &-front{
            z-index: 99;
            &:hover{
                opacity: 0;
            }
        }
        &-back{
            z-index: 1;
        }
    }
}

.profile-title {
    font-family: 'Bungee', cursive;
    color: $green;
    text-stroke: 1px $navi;
    -webkit-text-stroke: 1px $navi;
    font-size: 2em;
    position: relative;
    font-weight: 600;
    margin: 0;
    &::before{
        content : "";
        position: absolute;
        bottom: 0;
        left: -40%;
        border-bottom: 2px solid $navi;
        width: 180%;
    }

    @media screen and (max-width: 992px){
        font-size: 1.8em;
        &::before{
            content : "";
            position: absolute;
            bottom: 0;
            left: -20%;
            border-bottom: 2px solid $navi;
            width: 140%;
        }  
    }

    @media screen and (max-width: 600px){
        font-size: 1.5em;
        &::before{
            content : "";
            position: absolute;
            bottom: 0;
            left: -10%;
            border-bottom: 2px solid $navi;
            width: 120%;
        }  
    }
}

.section{
    padding: 0 100px;
    
    & .title {
        font-family: 'Bungee', cursive;
        text-stroke: 3px $navi;
        -webkit-text-stroke: 3px $navi;
        text-shadow: 4px 4px 0px $navi;
        color: $green;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 1em;
    }

    @each $color, $hex in $colors {
        & .title-#{$color}{
            color: $hex !important;
        }
    }

    @media screen and (max-width: 992px){
        padding: 0px 50px;
        & .title {
            font-size: 1.9em;
        }
    }
    @media screen and (max-width: 600px){
        padding: 0px 20px;
        & .title {
            font-size: 1.7em;
        }
        
        p {
            font-size: 90%;
        }
    }
}

.card {
    background-color: $grey;
    border: solid 4px $navi;
    border-radius: 0%;
    box-shadow: 
        15px 15px 0 -4px $grey,
        15px 15px $navi;
    margin-bottom: 50px;
    
    & &-header{
        font-size: 12px;
        height: auto;
        border-radius: 0%;
        border-bottom: 1px solid $navi;
        background-color: $grey;
    }

    & &-body{
        background-color: $grey;

        p{
            font-size: 12px;
            background-color: $grey;
        }
    }

    @media screen and (max-width: 600px){
        margin-right: 10px;
    }
}

.badge {
    padding: 5px 10px;
    background-color: $green;
    font-size: 12px;
    color: $grey;
}

@each $color, $hex in $colors {
    .badge-#{$color}{
        background-color: $hex !important;
    }
}

.socmed {
    font-family: 'Baloo 2', cursive;
    color: $navi;
    background-color: $red;
    border-radius: 0.50rem;
    padding: 1em 2em;
    text-align: center; 
    border: 2px solid $grey;
    box-shadow: 
        7px 7px 0 -4px $grey,
        7px 7px $red;
    border-bottom: 50px;
    margin: 0em 0.5em 1em 0.5em;

    & a{
        font-family: inherit;
        color: inherit;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            transition: all 0.5s;
        }
    }

    &:hover{
        box-shadow: 
            3px 3px 0 -3px $grey,
            3px 3px $red;
        transition: all 0.9s;
    }

    @media screen and (max-width: 992px){
        margin: 0em 1em 1em 1em;
    }
    @media screen and (max-width: 600px){
        margin: 0em 2em 1em 2em;
    }
}

@each $color, $hex in $colors {
    .socmed-#{$color}{
        background-color: $hex !important;
        border: 2px solid $grey;
        box-shadow: 
            7px 7px 0 -4px $grey,
            7px 7px $hex;
        &:hover{
            box-shadow: 
                3px 3px 0 -3px $grey,
                3px 3px $hex;
            transition: all 0.9s;
        }
    }
}

@each $color, $hex in $colors {
    .text-#{$color}{
        color: $hex !important;
    }
}

i {
    background-color: transparent;
    color: inherit;
    font-size: 120%;
}

.mode{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $navi;
    // transition: color, background-color 400ms;

    & .mode-button {
        background-color: inherit;
        cursor: pointer;
        user-select: none;
        margin: 0 1em;
        font-size: 2.5em;
        transition: all 0.9s;
        
        .icon {
            &-dark{
                color: $black;
                // text-shadow: 0px 0px 3px $navi;
            }
            &-light{
                color: $white;
                text-shadow: 0px 0px 3px $navi;
            }
        }

        @media screen and (max-width: 600px){
            font-size: 1.5em;
            margin: 0 0.8em;
        }
    }

    i{
        font-style: normal;
    }   
}

.footer{
    margin: 2em 0em 1em 0em;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    & &-text{
        font-family: 'Baloo 2', cursive !important;
        font-size: 1em;
        color: $navi;
        text-decoration: bold;
    }
}

// dark mode 
body.dark {
    background-color: $navi; 

    p {
        color: $white;
    }

    .avatar{
        .avatar-image{
            box-shadow: 
                0px 0px 2px 4px $navi,
                0px 0px 6px 6px $white;
        }
    }

    .profile-title{
        color: $green;
        text-stroke: 1px $black;
        -webkit-text-stroke: 1px $black;

        &::before{
            border-bottom: 2px solid $grey;
        }
    }
    
    .section{
        & .title{
            text-stroke: 3px $black;
            -webkit-text-stroke: 3px $black;
            text-shadow: 4px 4px 0px $black;
            color: $green;
        }

        @each $color, $hex in $colors {
            & .title-#{$color}{
                color: $hex !important;
            }
        }
    }

    .card {
        background-color: $grey;
        border: solid 4px $black;
        border-radius: 0%;
        box-shadow: 
            15px 15px 0 -4px $grey,
            15px 15px $black;

        &-header{
            font-size: 12px;
            height: auto;
            border-radius: 0%;
            border-bottom: 1px solid $navi;
            background-color: $grey;
        }
    
        &-body{
            background-color: $grey;
    
            & p {
                font-size: 12px;
                background-color: $grey;
                color: $navi;
            }
        }
    }

    .socmed {
        color: $white;
        background-color: $red;
        border: 2px solid $black;
        box-shadow: 
            5px 5px 0 -4px $navi,
            5px 5px $black;
        
        &:hover{
            box-shadow: 
                3px 3px 0 -3px $navi,
                3px 3px $black;
            transition: all 0.9s;
        }
    }

    @each $color, $hex in $colors {
        .socmed-#{$color}{
            background-color: $hex !important;
            border: 2px solid $black;
            box-shadow: 
                7px 7px 0 -4px $hex,
                7px 7px $black;
        }
    }

    .footer{
        &-text{
            color: $grey;
        }
    }
}