/* Variables */
$navi: #45526C;
$green: #5AA897;
$red: #F8A488;
$grey: #F8F5F1;
$white: #ffffff;
$black: #000000;

$colors : (
    'primary': #45526C,
    'success': #5AA897,
    'danger': #F8A488,
    'secondary': #F8F5F1
);